<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Torenzo WebSite" >

	<test name="TorenzoTest">
		<classes>

			 <class name="com.ghana.app.qa.testcases.HomePageTest"></class>
			<class name="com.ghana.app.qa.testcases.VisaCategoriesPageTest"></class>
			<class name="com.ghana.app.qa.testcases.SignUpPageTest"></class>
			  <class name="com.ghana.app.qa.testcases.PersonalInfoPageTest"></class>
			<class name="com.ghana.app.qa.testcases.AddressInfoPageTest"></class>
			<class name="com.ghana.app.qa.testcases.EmergencyContactPageTest"></class>
			<class name="com.ghana.app.qa.testcases.TravelInfoPageTest"></class> 

			<class name="com.ghana.app.qa.testcases.UploadDocPageTest"></class>

			<class name="com.ghana.app.qa.testcases.ReviewApplicationPageTest"></class>
			<class name="com.ghana.app.qa.testcases.VisaPaymentPageTest"></class>
			<class name="com.ghana.app.qa.testcases.ConsulatePageApproveTest"></class>
			<class name="com.ghana.app.qa.testcases.ConsulatePageRejectTest"></class>
			<class name="com.ghana.app.qa.testcases.ConsulatePageFlagTest"></class>
			<class name="com.ghana.app.qa.testcases.HighCommissionPageApproveTest"></class>
			  <class name="com.ghana.app.qa.testcases.HighCommissionPageRejectTest"></class>

			<class name="com.ghana.app.qa.testcases.HighCommissionPageFlagTest"></class>-->



		</classes>

	</test>
</suite>
	
	
	
	
	